/** global element styling **/
h3 {
  height: 1rem;
  margin: 1rem 0 1rem 0.2rem;
  font-weight: normal;
  color: lightgrey
}

/** layout classes **/
.card {
  padding: 1em;
  border-radius: 3px;
  background-color: #161616;
}