body {
  font-family: sans-serif;
  color: whitesmoke;
}

/** global element styling **/
h1 {
  text-align: center;
}

hr {
  color: lightgrey;
  margin: 1em 0;
}

button {
  padding: 0.25em 2em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  transition: 150ms;
}

button:hover {
  background-color: white;
  color: black;
}

input {
  background-color: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/** layout classes **/
.center {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 1em;
  margin: 1em auto;
  border-radius: 3px;
  background-color: #161616;
}