/*.financeForm th {
  text-align: left;
}

.financeForm button {
  align-self: center;
  margin-left: 2em;
}

.financeForm .inputGroup,
.financeForm .selectGroup {
  flex-direction: column;
}

.financeForm .inputGroup>input,
.financeForm .selectGroup>select,
.financeForm .selectGroup>input {
  margin: 0.5em;
}

.financeForm .mainOptions {
  display: flex;
  align-content: center;
  flex-direction: row;
  width: 100%;
}

.financeForm .extraOptions {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  padding: 1em;
  background-color: #222;
} */